<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.amg.web.mapper.ShipperMapper">
    <insert id="insertShipper" parameterType="com.amg.web.domain.ShipperDTO">
      insert into SHIPPERS (SHIPPER_ID,SHIPPER_NAME,PHONE)
     values (#{shipperId},#{shipperName},#{phone})
    </insert>

  <select id="selectShipper" resultType="com.amg.web.domain.ShipperDTO">
    select * from SHIPPERS 
  </select>
  <!-- 아이디만 아니면 됨. option은 임의로 박아놓음 -->
    <select id="selectShipperByOption" resultType="com.amg.web.domain.ShipperDTO"
                                            parameterType="com.amg.web.domain.ShipperDTO">
    select * from SHIPPERS where SHIPPER_NAME = #{shipperName} 
  </select>
    <select id="selectShipperByShipperId" resultType="com.amg.web.domain.ShipperDTO"
                                            parameterType="string">
    select * from SHIPPERS where SHIPPER_ID = #{value}
  </select>
<update
  id="updateShipper" parameterType="com.amg.web.domain.ShipperDTO">
    update SHIPPERS set
        SHIPPER_ID = #{shipperId},
        SHIPPER_NAME = #{shipperName},
        PHONE = #{phone}
    where SHIPPER_ID = #{shipperId}
  </update>

<delete
  id="deleteShipper" parameterType="com.amg.web.domain.ShipperDTO">
     delete from SHIPPERS where SHIPPER_ID = #{shipperId}
</delete>

</mapper>